<!DOCTYPE html>
<html>
<head>
  <title>URL shortener (LTV test)</title>

  <%= javascript_pack_tag 'application' %>
  <%= javascript_pack_tag 'my_app' %>
</head>

<link
  type="text/css"
  rel="stylesheet"
  href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"
  />
<link
  type="text/css"
  rel="stylesheet"
  href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"
  />
<%= stylesheet_link_tag "application" %>

<body>

<div id="app">
  <b-alert v-model="showDismissibleAlert" variant="danger" dismissible>
    {{ errorMsg }}
  </b-alert>
  <b-container>
    <b-jumbotron header="URL shortener" lead="LTV test">
    </b-jumbotron>

    <b-form-group
      horizontal
      :label-cols="4"
      label="Enter a full URL"
    >
      <b-form-input v-model.trim="url" @keyup.enter.native="createShortUrl()"></b-form-input>
      <button v-on:click="createShortUrl()" class="btn btn-dark">Create Short URL</button>
    </b-form-group>
  </b-container>

  <table class="table">
    <thead>
    <tr>
      <th scope="col">Rank</th>
      <th scope="col">Clicks</th>
      <th scope="col">Short URL</th>
      <th scope="col">Full URL</th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="(short_url, index) in urls">
      <th scope="row">{{ index+1 }}</th>
      <td>{{ short_url.click_count }}</td>
      <td><a :href="short_url.short_url" target="_blank">{{ short_url.short_url }}</a></td>
      <td>{{ short_url.full_url }}</td>
    </tr>
    </tbody>
  </table>
</div>

</body>
</html>



